*{
  box-sizing : border-box;
  width : 100%;
}

body{
  margin : 0;
}

#buttonWrap{
  position : fixed;
  z-index : 2;
  left : 50%;
  top : 30px;
  transform : translateX(-50%);
  width : 200px;
  display : flex;
  column-gap : 5px;
  justify-content : center;
}

#buttonWrap button{
  width : 50%;
  border : 0;
  font-size : 25px;
  border-radius : 7px;
  padding : 7px 0;
}

#game{
  background : black;
  color : white;
}

#record{
  background : black;
  color : white;
}

#wrap{
  background : url(../image/vsimg.png) no-repeat center;
  background-size : contain;
  height : 100vh;  /* vh, vw 현재 브라우저 크기의 100% */
  display : flex;
  min-width : 900px;
}

#wrap .area{
  padding : 10%;
  position : ralative;
}

#wrap .area rpsImg{
  width : 100%;
}

#comArea{
  display : flex;
  align-items : center;
}

#comImg{
  width : 75%;
}

#wrap #userArea{
  padding : 5%;
}

#userArea .rpsImg{
  position : relative;
  top : 50%;
  transform : translateY(-50%);
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content : center;
}

#userArea .userImg{
  width:50%;
  padding:10px;
  border-radius: 100%;
}

#userArea .userImg:hover{
  border : 2px solid red;
}

@media screen and (min-width : 1450px){
  #userArea .userImg{
    width : 30%;
  }
}

.result{
  position : absolute;
  top : 50%;
  left : 50%;
  transform : translate( -50% , -50%);
  font-size : 100px;
  width : 200px;
  background-color : black;
  text-align : center;
  color : white;
  border-radius : 10px;
}