*{
  margin: 0; padding: 0; box-sizing: border-box;
}

#wrap{
  width: 100%;
  min-width: 800px;
  /* min-width는 브라우저의 width가 800px보다 작아지지 않음 */
  position: relative;
}

#header{
  width: 100%;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

#header_left{
  position: relative;
  width: 100%;
}

#header_left .logo{
  /* width: 130px; */
}

#header_left .logo>img{
  /* width: 130px */
  height: 35px;
}

#header_left .menu{
  position: absolute;
  top: 0;
  left: 150px;
  line-height: 35px;
}

#header_left .menu .menu_text:nth-child(2){
  margin:0 10px;
  position: relative;
}

/* "::"는 가상선택자를 만듬
내용표시를 위해 "content"를 사용 
after는 태그의 뒤, before는 태그의 앞 */
/* 파파고는 content가 아닌 박스를 만들어 사용함
background: #e5e5e5;
content: "";
height: 15px;
left: -21px;
position: absolute;
top: 29px;
width: 1px; */
#header_left .menu .menu_text:nth-child(2)::after{
  content:"|";
  position: absolute;
  right: -10px;
  bottom: -5px;
}

#header_right{
  position: absolute;
  right: 20px;
  top: 20px;
}

#header_right>span{
  border: 1px solid #aaa;
  padding: 3px 7px;
  font-size: 12px;
  color: #ccc;
}


#main{
 width: 1400px;
 margin: 0 auto;
 padding: 50px 0;
 border-bottom: 1px solid #ccc;
}

#main_box{
  width: 100%;
  position: relative;
}

#main_box .translation{
  width: 685px;
  position: relative;
  top: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden; /* 상위태그의 지정된 크기보다 큰 하위태그의 content가 숨겨짐*/
}

#main_box .translation_right{
  position: absolute;
  right: 0;
}

#main_box .translation_top{
  padding: 20px 30px;
  font-weight: 700;
}

#main_box .translation_middle{
  padding: 40px 17px;
  height: 226px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}

#main_box .translation_middle .guide{
  font-size: 29px;
  color: #777;
  font-weight: 600px;
}

#main_box .translation_middle .count{
  font-size: 20px;
  color: #aaa;
  position: absolute;
  right: 17px;
  bottom: 40px;
}

#main_box .translation_bottom{
  width: 100%;
  position: relative;
  display: flex;
}

/* 우선순위 : 상위 id > 하위 class순으로 적용이 지향됨
부모에서 내려오는 값이 우선순위를 가져
"#id .class"순으로 작성하면 우선순위애 대한 교려가 적음 
id는 문서에 하나만 존재해서 class의 위치를 찾기에도 용이*/
#main_box .translation_bottom .function{
  display: flex;
  width: 75%;
}

#main_box .translation_bottom .function span{
  height: 70px;
  width: 70px;
  border-right: 1px solid #ccc;
}

#main_box .translation_bottom .translation_bt{
  width: 25%;
}

#main_box .translation_bottom .translation_bt button{
  width: 100%;
  height: 70px;
  border: 0;
  font-size: 23px;
  background: #21dc6d;
  color: white;
}